<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.numberdream.pm"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Number Dream</name>

  <description>
      Number Dream Card Selector
  </description>

  <author href="N/A" email="N/A">
      PM
  </author>

  <icon src="icon.png" />

</widget>